<div class="gladiolen-container gladiolen-white">
    <div class="gladiolen-header gladiolen-pink gladiolen-purple-text">
        <div class="max-w-lg mx-auto px-4 gladiolen-header-content">
            <app-gladiolen-logo color="#950E66" class="mr-16"></app-gladiolen-logo>
            <h1 class="">{{ volunteer.first_name }} {{ volunteer.last_name }}</h1>    
        </div>
    </div>

    <div class="max-w-lg mx-auto px-4">
        <a class="gladiolen-white-banner">
            <div class="gladiolen-black-banner">Klok uit</div>
            <h2>ingeklokt</h2>
        </a>
    </div>
</div>