<button
    type="button"
    class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-purple-400 dark:text-white dark:hover:bg-gray-700"
    [attr.aria-controls]="dropdownreference"
    [attr.data-collapse-toggle]="dropdownreference"
    (click) = "toggleDropdown()"
>
    <app-feather-icon
        *ngIf="icon !== ''"
        [size]="24"
        [icon]="icon"
        class="text-gray-400 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
    >
    </app-feather-icon>

    <span class="flex-1 ml-3 text-left whitespace-nowrap">{{ name }}</span>

    <app-feather-icon [size]="20" *ngIf="!isDropdownOpen" icon="chevron-down"></app-feather-icon>
    <app-feather-icon [size]="20" *ngIf="isDropdownOpen" icon="chevron-up"></app-feather-icon>
</button>
