<div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center z-50">
    <div class="fixed inset-0 bg-black opacity-50" (click)="closeModal()"></div>
    <div class="bg-white rounded-lg shadow-lg p-6 z-10 w-full max-w-2xl">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-2xl font-semibold text-gray-700">Vrijwilliger Toevoegen</h2>
            <button type="button" (click)="closeModal()" class="text-gray-700 hover:text-gray-900 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div class="pt-2">
                    <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">Voornaam</label>
                    <input type="text" id="first_name" name="first_name" [(ngModel)]="newVolunteer.first_name"
                        #first_name="ngModel" required
                        class="bg-gray-50 border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                    <p *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)"
                        class="text-red-500 text-xs mt-1">
                        Voornaam is verplicht.
                    </p>
                </div>

                <div class="pt-2">
                    <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900">Achternaam</label>
                    <input type="text" id="last_name" name="last_name" [(ngModel)]="newVolunteer.last_name"
                        #last_name="ngModel" required
                        class="bg-gray-50 border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                    <p *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)"
                        class="text-red-500 text-xs mt-1">
                        Achternaam is verplicht.
                    </p>
                </div>

                <div class="pt-2">
                    <label for="national_registry_number"
                        class="block mb-2 text-sm font-medium text-gray-900">Rijksregisternummer</label>
                    <input type="text" id="national_registry_number" name="national_registry_number"
                        [(ngModel)]="newVolunteer.national_registry_number" #national_registry_number="ngModel" required
                        [pattern]="nationalRegistryPattern"
                        class="bg-gray-50 border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                    <p *ngIf="national_registry_number.invalid && (national_registry_number.dirty || national_registry_number.touched)"
                        class="text-red-500 text-xs mt-1">
                        Rijksregisternummer is verplicht en moet het juiste formaat hebben (YY.MM.DD-XXX.XX).
                    </p>
                </div>

                <div class="pt-2 grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div>
                        <label for="tshirt_id" class="block mb-2 text-sm font-medium text-gray-900">T-shirt
                            model</label>
                        <select id="tshirt_id" name="tshirt_id" [(ngModel)]="newVolunteer.tshirt_id"
                            #tshirt_id="ngModel" required
                            class="bg-gray-50 border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            <option value="null" disabled>Selecteer ...</option>
                            <option value="unisex">Unisex</option>
                            <option value="female">Dames</option>
                        </select>
                        <p *ngIf="tshirt_id.invalid && (tshirt_id.dirty || tshirt_id.touched)"
                            class="text-red-500 text-xs mt-1">
                            T-shirt model is verplicht.
                        </p>
                    </div>

                    <div>
                        <label for="size_id" class="block mb-2 text-sm font-medium text-gray-900">T-shirt
                            maat</label>
                        <select id="size_id" name="size_id" [(ngModel)]="newVolunteer.size_id" #size_id="ngModel"
                            required
                            class="bg-gray-50 border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            <option value="null" disabled>Selecteer ...</option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                        </select>
                        <p *ngIf="size_id.invalid && (size_id.dirty || size_id.touched)"
                            class="text-red-500 text-xs mt-1">
                            T-shirt maat is verplicht.
                        </p>
                    </div>
                </div>

                <div class="pt-2">
                    <label for="works_day" class="block mb-2 text-sm font-medium text-gray-900">Aanwezig</label>
                    <select id="works_day" name="works_day" [(ngModel)]="newVolunteer.works_day" #works_day="ngModel"
                        required (change)="onWorksDayChange($event)"
                        class="bg-gray-50 border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option value="" disabled>Selecteer ...</option>
                        <option value="day1">Vrijdag</option>
                        <option value="day2">Zaterdag</option>
                        <option value="both">Beide</option>
                    </select>
                    <p *ngIf="works_day.invalid && (works_day.dirty || works_day.touched)"
                        class="text-red-500 text-xs mt-1">
                        Selecteer een optie.
                    </p>
                </div>

                <div class="pt-2">
                    <label for="needs_parking" class="block mb-2 text-sm font-medium text-gray-900">Parking</label>
                    <select id="needs_parking" name="needs_parking" [(ngModel)]="newVolunteer.needs_parking"
                        #needs_parking="ngModel" (change)="onParkingChange($event)" required
                        class="bg-gray-50 border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option value="" disabled>Selecteer ...</option>
                        <option value="none">Nee</option>
                        <option value="day1"
                            *ngIf="newVolunteer.works_day === 'day1' || newVolunteer.works_day === 'both'">
                            Vrijdag
                        </option>
                        <option value="day2"
                            *ngIf="newVolunteer.works_day === 'day2' || newVolunteer.works_day === 'both'">
                            Zaterdag
                        </option>
                        <option value="both" *ngIf="newVolunteer.works_day === 'both'">Beide</option>
                    </select>
                    <p *ngIf="needs_parking.invalid && (needs_parking.dirty || needs_parking.touched)"
                        class="text-red-500 text-xs mt-1">
                        Selecteer een optie.
                    </p>
                </div>
            </div>
            <div class="mt-4 flex justify-end">
                <button type="submit" [disabled]="form.invalid"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-md w-auto px-5 py-2.5 text-center disabled:opacity-50">
                    Bevestigen
                </button>
            </div>
        </form>
    </div>
</div>