<div class="overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-200 overflow-auto">
        <thead>
            <tr>
                <th class="py-2 px-4 border-b text-center"></th>
                <th class="py-2 px-4 border-b text-start">Naam</th>
                <th class="py-2 px-4 border-b text-start">Rijksregisternummer</th>
                <th class="py-2 px-4 border-b text-start">T-shirt (maat/geslacht)</th>
                <th class="py-2 px-4 border-b text-start">Aanwezig (vr/za)</th>
                <th class="py-2 px-4 border-b text-start">Parking (vr/za)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let volunteer of volunteers">
                <td class="text-sm font-medium border-b border-gray-200">
                    <div class="flex justify-center gap-4">
                        <a (click)="editVolunteer(volunteer.id)"
                            class="text-indigo-600 hover:text-indigo-900 cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                            </svg>
                        </a>
                        <a (click)="deleteVolunteer(volunteer.id)" class="mr-0 md:mr-4  cursor-pointer"><svg
                                xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-red-600 hover:text-red-800"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg></a>
                    </div>
                </td>
                <td class="py-2 px-4 border-b text-start">{{ volunteer.first_name }} {{ volunteer.last_name
                    }}</td>
                <td class="py-2 px-4 border-b text-start">**.**.**-***.**</td>
                <td class="py-2 px-4 border-b text-start">{{volunteer.size_id}} {{volunteer.tshirt_id}}</td>
                <td class="py-2 px-4 border-b text-start"> {{
                    volunteer.works_day1 && volunteer.works_day2 ? 'Beide' :
                    volunteer.works_day1 ? 'Vrijdag' :
                    volunteer.works_day2 ? 'Zaterdag' : 'Nee'
                    }}</td>
                <td class="py-2 px-4 border-b text-start">
                    {{
                    volunteer.needs_parking_day1 && volunteer.needs_parking_day2 ? 'Beide' :
                    volunteer.needs_parking_day1 ? 'Vrijdag' :
                    volunteer.needs_parking_day2 ? 'Zaterdag' : 'Nee'
                    }}
                </td>
                <!-- <td class="py-2 px-4 border-b text-center">{{ volunteer.tshirt_id }}</td>
                            <td class="py-2 px-4 border-b text-center">{{ volunteer.size_id }}</td> -->
            </tr>
        </tbody>
    </table>
</div>