<a
    [href]="link"
    data-tooltip-target="tooltip-button"
    class="inline-flex justify-center p-2 text-gray-500 rounded cursor-pointer dark:text-gray-400 dark:hover:text-white hover:text-gray-900 hover:bg-purple-400 dark:hover:bg-gray-600"
>
    <ng-content></ng-content>
</a>

<div
    *ngIf="linkName !== ''"
    id="tooltip-button"
    role="tooltip"
    class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip"
>
    {{ linkName }}
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>
