<div class="time-registration-container text-center gladiolen-text gladiolen-light-blue" style="height: 100vh;">
    <div class="gladiolen-header gladiolen-green gladiolen-light-blue-text">
        <div class="max-w-md mx-auto w-full sm:w-auto gladiolen-header-content">
            <app-gladiolen-logo color="#B0E2FF" class="mr-16"></app-gladiolen-logo>
            <h1 class="text-center mb-4">Kies je club</h1>    
        </div>
    </div>

    <div class="max-w-md mx-auto" *ngFor="let club of clubs">
        <div class="gladiolen-white-banner">
            <a class="gladiolen-black-button" [routerLink]="['/volunteers', club.club.id]">Vrijwilligers</a>
            <h2>{{ club.club.name }}</h2>
        </div>
        <div class="gladiolen-list">
            <p>{{ club.club.email }}</p>
        </div>
    </div>
</div>