<div class="mx-auto mt-10 p-6 flex items-center justify-center">
    <div class="max-w-md flex flex-row">
        <div class="flex items-center">
            <app-icon-button-link
                linkName=""
                tooltipReference="clubs"
                link="/clubs"
                icon="arrow-left"
                class="mr-3"
            ></app-icon-button-link>

            <h1 class="text-2xl font-semibold text-center">
                Vrijwilligers van <ng-container *ngIf="club">{{ club.name }}</ng-container>
            </h1>
        </div>
    </div>
</div>

<div class="max-w-md mx-auto p-6">
    <p class="text-center">content volgt</p>
</div>
